@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: whitesmoke;
  background: url("/bg.jpg") no-repeat center center/cover;
  text-align: center;
  padding: 20px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-page {
  animation: fadeIn 0.5s ease-out;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  max-width: 800px;
}

.background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #ffcc00;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.text {
  max-width: 600px;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Courgette;
}

.button {
  background-color: #ffcc00;
  color: #0f2027;
  padding: 14px 28px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #e6b800;
  transform: scale(1.05);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
h3 {
  text-align: center;
  margin-top: 50px;
  font-weight: 500;
  font-size: 40px;
  padding: 5px;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
  padding: 0px;
}

.gallery {
  flex: 0 0 auto; /* Prevents shrinking */
  width: 200px;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  transition: 0.3s;
  text-align: center;
  scroll-snap-align: center;
}

.gallery:hover {
  box-shadow: #ffffff;
  transform: scale(1.05);
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.galleryContainer::-webkit-scrollbar {
  display: none;
}

.desc {
  padding: 10px;
  font-size: 14px;
  color: #333;
}

/* 🔹 Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .text {
    font-size: 1rem;
  }

  .button {
    padding: 12px 24px;
    font-size: 1rem;
  }
}
::-webkit-scrollbar {
  display: none; /* For Chrome, Safari */
}
